* {
  /* valores por defecto de html se pueden modificar, reseteo los valores por defecto de html*/
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a, a:hover, a:focus {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s ease 0s;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
  padding-right: 0px;
  padding-left: 0px;
}

.title {
  font-family: "Rubik", sans-serif;
  font-size: 28px;
}

.presentation-natura-container,
.presentation-tupperware-container {
  font-family: "Dela Gothic One", cursive;
  font-size: 22px;
}

.header {
  font-family: "Rubik", sans-serif;
  font-size: 28px;
}

.header-sticky-container {
  font-family: "Lato", sans-serif;
  font-size: 28px;
}

/***********************************************MEDIA QUERY**********************************************/
/* Media query para diseno responsive */
/* Mobile - todo lo que tenga una pantalla de este tamano, se aplicara todo lo que esta entre las llaves */
@media only screen and (max-width: 400px) {
  .section-introduction .svg-band {
    display: none;
  }
  .section-introduction h3 {
    font-size: calc(1em + 1vw);
  }
  .section-introduction h5 {
    font-size: calc(0.5em + 1vw);
  }
  .section-introduction .presentation-natura-container {
    font-size: calc(0.4em + 1vw);
  }
  .section-introduction .presentation-tupperware-container {
    font-size: calc(0.4em + 1vw);
  }
  .section-introduction .presentation-image-tupperware {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .section-container-text h2 {
    font-size: calc(0.7em + 1vw);
  }

  .header-sticky-container .content h1 {
    font-size: calc(1em + 1vw);
  }
  .header-sticky-container .content h4 {
    font-size: calc(0.5em + 1vw);
  }

  .footer-container {
    font-size: 10px;
  }

  .title h1 {
    font-size: calc(0.8em + 1vw);
  }
}
/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .svg-band {
    display: none;
  }
}
/* Desktop */
@media only screen and (min-width: 961px) {
  /*body {
      background-color: white;
  }*/
}
/********************************************FIN MEDIA QUERY*********************************************/
.form-container, .carousel-container, .header-sticky-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.zoom {
  transition: transform 0.5s;
  margin: 0 auto;
}
.zoom:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
}

.header {
  text-align: center;
}

.header-sticky-container {
  height: auto;
  max-width: 100%;
  flex-direction: row;
  background: linear-gradient(-45deg, #f1815f, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}
.header-sticky-container .logo {
  width: 100%;
  max-width: 90px;
  height: auto;
  text-align: center;
}
.header-sticky-container .content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.title {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-container {
  width: 100%;
  height: auto;
}
.footer-container .footer {
  margin-top: 45px;
  width: 100%;
  background: rgba(0, 0, 0, 0.781);
  color: aliceblue;
  text-align: center;
}
.footer-container .footer-copyright {
  float: center;
  width: 100%;
  height: auto;
}
.footer-container .footer-icons {
  float: right;
  padding-right: 10px;
}

.nav-item {
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
}
.nav-item .nav-link:hover {
  color: blue;
}

.carousel-container {
  margin: auto;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
}
.carousel-container .carousel {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  border: 1px solid #5dc1b9;
}

.section-introduction {
  position: relative;
  height: auto;
  background: #f5f5f5;
}
.section-introduction .svg-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}
.section-introduction .presentation-natura-container {
  width: 100%;
  height: auto;
  margin-top: 40px;
}
.section-introduction .presentation-tupperware-container {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.section-introduction .presentation-image-natura {
  width: 100%;
  max-width: 280px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.section-introduction .presentation-image-tupperware {
  width: 100%;
  max-width: 390px;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.section-container-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-container-text .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height: auto;
  text-align: center;
  font-family: arial;
}
.section-container-text .price {
  color: grey;
  font-size: 22px;
}
.section-container-text .button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.section-container-text .button:hover {
  opacity: 0.7;
}

.form-container .form {
  background-color: #e5eaee;
  border-radius: 3px;
  width: 60%;
  height: auto;
  padding: 20px;
  margin: auto;
}

#blog-area .card {
  border-radius: 0.25rem;
  overflow: hidden;
  background: #fff;
  transition: all ease-in-out 0.3s;
  border: 0px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 0 1em 0;
}
#blog-area .card:hover {
  box-shadow: 0.1rem 1rem 2rem rgba(0, 0, 0, 0.12), -0.1rem 0 2rem rgba(0, 0, 0, 0.12);
}
#blog-area .card .card-img {
  position: relative;
  overflow: hidden;
}
#blog-area .card .card-img:hover {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
#blog-area .card .card-img:hover img {
  transform: scale(1.2);
}
#blog-area .card .card-img img {
  transition: all 1s ease 0s;
  width: 100%;
}
#blog-area .card .card-date {
  background: white;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 15px;
  font-weight: bold;
  opacity: 0.7;
  transition: opacity 0.25s ease-in-out;
}
#blog-area .card .card-date:hover {
  opacity: 1;
}
#blog-area .card .card-content {
  margin: 5px 20px;
  padding-bottom: 15px;
}
#blog-area .card .card-content .card-title {
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
#blog-area .card .card-content h4 {
  margin-bottom: 10px;
  font-size: 17px;
}
#blog-area .card .card-content .card-content-jcenter {
  text-align: justify;
  text-indent: 1rem;
}
#blog-area .card .card-content span > a {
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 15px;
  font-weight: bold;
  background: white;
  opacity: 0.6;
}
#blog-area .card .card-content span > a:hover {
  opacity: 1;
}

#masonry {
  column-count: 1;
  column-gap: 1em;
}

@media (min-width: 30em) {
  #masonry {
    column-count: 1;
    column-gap: 1em;
  }
}
@media (min-width: 40em) {
  #masonry {
    column-count: 2;
    column-gap: 1em;
  }
}
@media (min-width: 60em) {
  #masonry {
    column-count: 3;
    column-gap: 1em;
  }
}
@media (min-width: 75em) {
  #masonry {
    column-count: 3;
    column-gap: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
