
.form-container {
    @extend %flex;

    .form {
        background-color: #e5eaee;
        border-radius: 3px;
        width: 60%;
        height: auto;
        padding: 20px;
        margin: auto;
    }
}