
.section-introduction {
    position: relative;
    height: auto;
    background: #f5f5f5;

    .svg-band {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
    }

    .presentation-natura-container {
        width: 100%;
        height: auto;
        margin-top: 40px; 
    }
      
    .presentation-tupperware-container {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
      
    .presentation-image-natura {
        width: 100%;
        max-width: 280px;
        margin-top: 15px;
        margin-bottom: 20px;
        border-radius: 50%;
    }
      
    .presentation-image-tupperware {
        width: 100%;
        max-width: 390px;
        margin-top: 50px;
        margin-bottom: 20px;
        border-radius: 50%;
    }
}

.section-container-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        height: auto;
        text-align: center;
        font-family: arial;
    }
        
    .price {
        color: grey;
        font-size: 22px;
    }
    
    .button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;

        &:hover {
            opacity: 0.7;
        }
    }
}