
/***********************************************MEDIA QUERY**********************************************/
/* Media query para diseno responsive */
/* Mobile - todo lo que tenga una pantalla de este tamano, se aplicara todo lo que esta entre las llaves */

@media only screen and (max-width: 400px) {

    .section-introduction {

        .svg-band {
            display: none; 
        }

        h3 {
            font-size: calc(1em + 1vw);    
        }

        h5 {
            font-size: calc(0.5em + 1vw);    
        }

        .presentation-natura-container {
            font-size: calc(0.4em + 1vw);  
        }

        .presentation-tupperware-container {
            font-size: calc(0.4em + 1vw);  
        }

        .presentation-image-tupperware {
            margin-top: 25px;
            margin-bottom: 20px;

        }
    }

    .section-container-text {

        h2 {
            font-size: calc(0.7em + 1vw); 
        }
    }
    
    .header-sticky-container {

        .content {
            h1 {
                font-size: calc(1em + 1vw);   
            }

            h4 {
                font-size: calc(0.5em + 1vw)   
            }
        }
    }
    
    .footer-container {
        font-size: 10px;    
    }

    .title {

        h1 {
            font-size: calc(0.8em + 1vw) 
        }
        
    }
}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {

    .svg-band {
        display: none; 
    }
}

/* Desktop */
@media only screen and (min-width: 961px) {
    /*body {
        background-color: white;
    }*/
}
/********************************************FIN MEDIA QUERY*********************************************/

/*@media all and (max-width: 600px){

    div {
        width:100%;
        height:auto;
        //margin-left:10px;
    }

    img {
        width:100%;
        height:auto;
        //margin-left:10px;
    }
}*/