
.header{
    /*font-family: 'Rubik', sans-serif;
    font-size: 28px;*/
    /*width: 100%;
    max-width: 100%;*/
    text-align: center;
    /*border: 1px solid black;*/

}

.header-sticky-container {
    width: 100%;
    height: auto;
    max-width: 100%;
    /*font-family: 'Rubik', sans-serif;
    font-size: 28px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(-45deg, #f1815f, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;

    .logo {
        width: 100%;
        max-width: 90px;
        /*min-width: 45px;*/
        height: auto;
        /*border-radius: 30px;*/
        text-align: center;
    }

    .content {
        /*width: 100%;
        height: auto;*/
        max-width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



