* {   /* valores por defecto de html se pueden modificar, reseteo los valores por defecto de html*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

strong {
    background-color: #B2DEFF;
}

p {
    /*margin-bottom: 20px;
    font-family: 'Josefin', sans-serif;
    font-size: 14px;   
    color: black;*/
    /*letter-spacing: 1px;*/
    /*line-height: 25px;*/
    /*text-align: left;*/
    /*text-indent: 10px;*/
}
