strong {
    background-color: #B2DEFF;
}

p {
    margin-bottom: 20px;
    font-family: 'Josefin', sans-serif;
    font-size: 14px;   
    color: black;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: left;
    text-indent: 10px;
}
