
.title {
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
}

.presentation-natura-container,
.presentation-tupperware-container {
    font-family: 'Dela Gothic One', cursive;
    font-size: 22px; 
}

.header{
    font-family: 'Rubik', sans-serif;
    font-size: 28px; 
}

.header-sticky-container {
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
}